{% extends 'base.html.twig' %}
{%block title %}
    EasyRecipe - Modification de mot de passe de l'utilisateur
{% endblock %}

{% block body %}

<div class="container">
    <h1 class="mt-4">Formulaire de modification de mot de passe de l'utilisateur</h1>

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}

    {{ form(form) }}
</div>

{% endblock %}